<h1><%= @heroine.name %></h1>
<h2>Name: <%= @heroine.super_name %></h2>
<h2>Power: <%= link_to "#{@powers.name}", @heroine.power %></h2>

<%# to be fixed... link to individual powers description NOT the index page%>
